.contact-right a {
    display: block;
    color: #4f5359;
}

.contact-right {
    padding-bottom: 187px;
}

.ot-form input,
.ot-form textarea {
    background-color: #fff;
}

.d-line {
    margin-top: 10px;
}

.contact-right span {
    display: block;
}

@media (max-width: 1199px) {
    .contact-right {
        padding-bottom: 140px;
    }
}

@media (max-width: 991px) {
    .contact-right {
        padding-bottom: 40px;
    }
    .d-line {
        margin-top: 10px;
        padding-bottom: 30px;
    }
}