.inner-content {
    padding-top: 25px;
}
.forgot-form{
	padding-top: 40px;
	float: left;
	width: 100%;
}
.forgot-form label {
    font-size: 18px;
    padding-bottom: 10px;
    color: #4f5359;
    float: left;
    width: 100%;
}
.forgot-form input {
    border-radius: 2px;
    height: 50px;
    font-size: 18px;
}