<div class="inner-content p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="assets/images/logo.png" />
            </div>
            <div class="col-xs-12" *ngIf="!is_success">
                <form
                    [formGroup]="form"
                    autocomplete="off"
                    class="forgot-form"
                    (ngSubmit)="forgotPassword()"
                >
                    <div
                        class="form-group col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
                    >
                        <div class="text-center p-b-50">
                            <h5 class="c-pink p-b-10">Forgot your password?</h5>
                            <p>
                                Please enter your email address and we will send
                                you a link to reset your password.
                            </p>
                        </div>
                        <label for="last_name">Email address</label>
                        <input
                            class="form-control"
                            formControlName="email"
                            id="email"
                            type="text"
                            (blur)="isEmailUnique($event.target.value)"
                            [class.invalid]="
                                !form.controls.email.valid &&
                                form.controls.email.dirty
                            "
                        />
                        <p
                            class="error m-0-auto"
                            col-12
                            ion-text
                            color="danger"
                            *ngIf="
                                form.controls['email'].hasError('required') &&
                                form.controls['email'].touched
                            "
                        >
                            Email field is required.
                        </p>
                        <p
                            class="error m-0-auto"
                            col-12
                            ion-text
                            color="danger"
                            *ngIf="
                                form.controls['email'].hasError('pattern') &&
                                form.controls['email'].touched
                            "
                        >
                            Please enter a valid email.
                        </p>
                        <p
                            class="error m-0-auto"
                            col-12
                            ion-text
                            color="danger"
                            *ngIf="
                                !is_unique_email &&
                                !form.controls['email'].hasError('pattern')
                            "
                        >
                            {{ is_unique_email_msg }}
                        </p>

                        <div class="text-center p-t-20 p-b-20">
                            <button
                                type="submit"
                                class="btn btn-violet btn-250 "
                            >
                                Request reset link
                            </button>
                        </div>
                        <div class="text-center">
                            <a routerLink="/home">Back to sign in</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12" *ngIf="is_success">
                <div
                    class="form-group col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"
                >
                    <div class="text-center m-t-60 p-b-30">
                        <h5 class="c-pink p-b-20">Please check your email</h5>
                        <p class="p-b-20">
                            <strong
                                >You will receive an email from us in the next
                                few minutes, if the email you indicated exists
                                in our system and you have active account.
                                Please follow the instruction in the email to
                                change your password.</strong
                            >
                        </p>
                        <p>
                            If you don't see any email from us in you inbox,
                            please check your junk mail folder as it may have
                            been mistakenly categorized as spam.
                        </p>
                    </div>
                    <div class="text-center p-b-20">
                        <a
                            type="button"
                            routerLink="/home"
                            class="btn btn-violet btn-350 "
                            >Go back to homepage</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
