<div class="inner-content p-b-50">
    <!-- <app-inner-page-header page_title="{{ pageContent?.content_name }}">{{ pageContent?.content_name }} <i class="onco-add-like" *ngIf="!!is_sub_topic" (click)="favorite(pageContent?.id)"></i></app-inner-page-header> -->
    <div class="inner-header">
        <div class="container-fluid primary-bg header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>
                            {{ pageContent?.content_name }}
                            <i class="c-pointer {{is_added_favorite?'onco-minus-like':'onco-add-like'}}" *ngIf="!!is_sub_topic" (click)="favorite(pageContent?.id)"></i>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-breadcrumb [breadcrumb]="breadcrumb" (onClickTitle)="goToElem($event)"></app-breadcrumb>
    <!--back_link="/patient/dashboard" back_title="Dashboard"-->
    <div class="container">
        <div class="row">
            <!-- start content-left -->
            <div class="col-md-7 col-sm-12 col-xs-12">
                <h4 class="c-pink p-b-20">{{ pageContent?.first_paragraph }}</h4>
                <ng-container *ngFor="let detail of pageContent?.content_details">
                    <p class="content-p cont-tbl" *ngIf="detail?.text" [innerHtml]="detail?.text | safeHtml"></p>
                    <div class="text-center content-p content-inner-img" *ngIf="detail?.image" [innerHtml]="detail?.image"></div>
                    <p class="content-p h9" *ngIf="detail?.credit">Credit: {{ detail?.credit }}</p>
                    <div class="row section" *ngIf="detail?.resource_data">
                        <div class="col-xs-12">
                            <div class="section-content">
                                <span class="onco-video c-pink sec-icon"></span>
                                <div class="sec-desc">
                                    <p class="h8">{{ detail?.resource_data?.title }}</p>
                                    <p class="h9" *ngIf="detail?.resource_data?.is_completed"><i class="glyphicon glyphicon-ok"></i><b><em>video watched</em></b></p>
                                    <p class="h9">{{ detail?.resource_data?.description }}</p>
                                </div>
                                <a class="btn btn-violet btn-block sec-button" (click)="openModal(detail?.resource_data)"
									target="_blank" title="{{detail?.resource_data?.title}}" *ngIf="detail?.resource_data?.link">{{ detail?.resource_data?.type }}</a>
									
									<!-- ?.link, detail?.resource_data?.level, detail?.resource_data?.id, detail?.resource_data?.is_completed -->
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="row" *ngFor="let topic of pageContent?.topic; let i = index">
                    <div class="col-xs-12">
                        <accordion class="main-accordion" [closeOthers]="true">
                            <accordion-group id="topic--{{topic?.slug}}">
                                <div accordion-heading class="row clearfix">
                                    <span class="col-xs-10 h6 d-flex"><span class="onco-article c-pink sec-icon m-r-15"></span>{{ topic?.title }}</span>
                                    <span class="col-xs-2 text-right h6">
										<i [ngClass]="res0?.isOpen ? 'onco-minus ' : 'onco-plus '" class="more-less"></i>
									</span>
                                </div>
                                <div class="accordion-inner">
                                    <p class="content-p" *ngIf="topic?.first_paragraph" [innerHtml]="topic?.first_paragraph"></p>

                                    <ng-container *ngFor="let description of topic?.description">
                                        <p class="content-p" *ngIf="description?.text" [innerHtml]="description?.text"></p>
                                        <div class="text-center content-p content-inner-img" *ngIf="description?.image" [innerHtml]="description?.image"></div>
                                        <p class="content-p h9" *ngIf="description?.credit">Credit: {{ description?.credit }}</p>
                                    </ng-container>
                                    <p class="h8 p-b-10" *ngFor="let sub_topic of topic?.sub_topic">
                                        <a [routerLink]="sub_topic.slug "><strong>{{ sub_topic.title}}</strong></a>
                                    </p>

                                </div>
                            </accordion-group>

                        </accordion>
                    </div>

                </div>
                <div class="row" *ngIf="!!is_sub_topic">
                    <div class="col-xs-12 well">
                        <strong (click)="favorite(pageContent?.id)">
							<i class="{{is_added_favorite?'onco-minus-like':'onco-add-like'}}"></i>
							{{is_added_favorite?'Remove from':'Add to'}} favorites
						</strong>
                    </div>
                </div>
            </div>

            <!-- end content-left -->

            <!-- start content-right -->
            <div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="content-right-bg m-b-40" *ngIf="pageContent?.side_resources?.reading != '' && pageContent?.side_resources?.reading">
                    <div class="col-xs-12">
                        <div class="h6">Reading for this section</div>
                    </div>
                    <div class="content-right-inner" *ngFor="let reading of pageContent?.side_resources?.reading">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="{{ reading.link }}" target="_blank" title="{{ reading.title }}">{{ reading.title }}</a>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span class="onco-article c-pink sec-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="content-right-bg m-b-40" *ngIf="pageContent?.side_resources?.video != '' && pageContent?.side_resources?.video">
                    <div class="col-xs-12">
                        <div class="h6">Video for this section</div>
                    </div>
                    <div class="content-right-inner" *ngFor="let video of pageContent?.side_resources?.video">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a (click)="openModal(video)" target="_blank">{{ video.title }}</a>
							</p>
							<p class="h9" *ngIf="video?.is_completed"><i class="glyphicon glyphicon-ok"></i><b><em>video watched</em></b></p>
                        </div>
                        <div class="col-xs-2">
                            <span class="onco-video c-pink sec-icon"></span>
                        </div>
                    </div>

                </div>
                <div class="content-right-bg m-b-40" *ngIf="pageContent?.side_resources?.audio != '' && pageContent?.side_resources?.audio">
                    <div class="col-xs-12">
                        <div class="h6">Audio for this section</div>
                    </div>
                    <div class="content-right-inner" *ngFor="let audio of pageContent?.side_resources?.audio">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="{{  audio.link }}" target="_blank">{{ audio.link }}</a>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span class="onco-audio c-pink sec-icon"></span>
                        </div>
                    </div>
                </div>

                <div class="content-right-bg" *ngIf="pageContent?.side_resources?.website != '' && pageContent?.side_resources?.website">
                    <div class="col-xs-12">
                        <div class="h6">Website for this section</div>
                    </div>
                    <div class="content-right-inner" *ngFor="let web of pageContent?.side_resources?.website">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="{{ web.link }}" target="_blank" title="{{ web.title }}">{{ web.title }}</a>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span class="onco-resource c-pink sec-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end content-right -->

    </div>
</div>

<app-inquiry-mood-modal [contentId]="pageContent?.id" [resourceDetail]="resourceDetail" *ngIf="!!modalIsShown" [modalIsShown]="modalIsShown" (onCloseModal)="modalClosed()"></app-inquiry-mood-modal>
<app-breadcrumb [breadcrumb]="breadcrumb" (onClickTitle)="goToElem($event)" isFooter="!1"></app-breadcrumb>