.well {
    background-color: #f8f9fa;
    border: none;
    box-shadow: none;
    color: #ce10bf;
    padding: 15px;
    cursor: pointer;
}

.well i {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.d-flex {
    display: flex;
}

.p-t-b {
    padding-top: 30px;
    padding-bottom: 20px;
}
