<div class="container-fluid breadcrumb-top" *ngIf="breadcrumb && breadcrumb.length" [ngClass]="isFooter?'bc-footer':''">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li *ngFor="let bc of breadcrumb;">
                        <a *ngIf="bc.link" routerLink="{{ bc.link }}" class="{{bc.class || ''}}">{{ bc.title }}</a>
                        <span *ngIf="!bc.link && !bc.params" class="{{bc.class || ''}}">{{ bc.title }}</span>
                        <a *ngIf="bc.params" class="{{bc.class || ''}}" href="javascript:void(0)" (click)="titleClickEvent(bc.params)">{{ bc.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>