<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Add a Patient"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="dash-heading">Personal Details</h2>
            </div>
            <form [formGroup]="addPatientForm" (ngSubmit)="addPatient()" autocomplete="off" class="ot-form" enctype="multipart/form-data">
                <div class="form-group col-md-9 col-sm-12">
                    <label for="subject_id">Subject ID</label>
                    <input formControlName="subject_id" type="text" class="form-control" id="subject_id" name="subject_id" (blur)="isSubjectIdUnique($event.target.value)">
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['subject_id'].hasError('required') && addPatientForm.controls['subject_id'].touched">Subject ID field is required.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['subject_id'].hasError('pattern') && addPatientForm.controls['subject_id'].touched">Subject ID field should be numeric.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="!is_unique_subject_id">{{is_unique_subject_id_msg}}</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="first_name">First name</label>
                    <input formControlName="first_name" id="first_name" type="text" [class.invalid]="!addPatientForm.controls.first_name.valid && (addPatientForm.controls.first_name.dirty)" type="text" class="form-control" id="first_name" name="first_name">
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['first_name'].hasError('required') && addPatientForm.controls['first_name'].touched">First name field is required.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['first_name'].hasError('pattern') && addPatientForm.controls['first_name'].touched">Please enter a valid first name.</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="last_name">Last name</label>
                    <input formControlName="last_name" id="last_name" type="text" [class.invalid]="!addPatientForm.controls.last_name.valid && (addPatientForm.controls.last_name.dirty)" type="text" class="form-control" id="last_name" name="last_name">
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['last_name'].hasError('required') && addPatientForm.controls['last_name'].touched">Last name field is required.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['last_name'].hasError('pattern') && addPatientForm.controls['last_name'].touched">Please enter a valid last name.</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="email">Email</label>
                    <input class="form-control" formControlName="email" id="email" type="text" (blur)="isEmailUnique($event.target.value)" [class.invalid]="!addPatientForm.controls.email.valid && (addPatientForm.controls.email.dirty)">
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['email'].hasError('required') && addPatientForm.controls['email'].touched">Email field is required.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['email'].hasError('pattern') && addPatientForm.controls['email'].touched">Please enter a valid email.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="!is_unique_email && !addPatientForm.controls['email'].hasError('pattern')">{{is_unique_email_msg}}</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label>Gender</label>
                    <div class="clearfix p-b-30">
                        <div class="radio-container pull-left">
                            <input checked type="radio" formControlName="gender" value="female" />
                            <span></span>
                            <div class="lbl-inline">
                                <strong>Female</strong>
                            </div>
                        </div>
                        <div class="radio-container pull-left">
                            <input type="radio" formControlName="gender" value="male" />
                            <span></span>
                            <div class="lbl-inline">
                                <strong>Male</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="cancer_type">Cancer type</label>
                    <select class="form-control" id="cancer_type" formControlName="cancer_type">
						<option value="" disabled></option>
						<option *ngFor="let cancer of cancer_list" value={{cancer.id}}>
							{{cancer.title}}
						</option>
					</select>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['cancer_type'].hasError('required') && addPatientForm.controls['cancer_type'].touched">Cancer type field is required.</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="primary_provider">Primary provider</label>
                    <select class="form-control" id="primary_provider" formControlName="primary_provider">
						<option value=""></option>
						<option *ngFor="let provider of provider_list" value={{provider.user_id}}>
							{{provider.fullname}}
						</option>
					</select>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['primary_provider'].hasError('required') && addPatientForm.controls['primary_provider'].touched">Primary provider field is required.</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="secondary_provider">Secondary provider</label>
                    <select class="form-control" id="secondary_provider" formControlName="secondary_provider">
						<option value=""></option>
						<option *ngFor="let provider of provider_list" value={{provider.user_id}}>
							{{provider.fullname}}
						</option>
					</select>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['secondary_provider'].hasError('required') && addPatientForm.controls['secondary_provider'].touched">Secondary provider field is required.</p>
                </div>
                <div class="form-group col-md-9 col-sm-12">
                    <label for="genomic_test_start_date">Genomic testing result available date</label>
                    <input formControlName="genomic_test_start_date" id="genomic_test_start_date" type="text" class="form-control" name="genomic_test_start_date" bsDatepicker [bsConfig]="{ dateInputFormat:'MM/DD/YYYY'}" [minDate]="minDate">
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="addPatientForm.controls['genomic_test_start_date'].hasError('required') && addPatientForm.controls['genomic_test_start_date'].touched">Genomic testing result available date is required.</p>
                </div>
                <div class="d-line col-xs-12">
                    <button class="btn btn-violet pull-right btn-250" type="submit">Add Patient</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>