<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Screening for colorectal cancer">Screening for colorectal cancer</app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb" (onClickTitle)="goToElem($event)"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <!-- start content-left -->
            <div class="col-md-7 col-sm-12 col-xs-12">

                <p class="content-p">
                    <strong>
                      Colorectal cancer is a cancer that can affect both men and 
                      women, and it starts in the colon or rectum.
                  </strong>
                </p>

                <p class="content-p">
                    Typically colorectal cancers start as a growth, or <u>polyp</u>, on the inner lining of the colon or rectum. Some polyps can change into cancer over time, but not all will become cancer. These are the American Cancer Society recommendations
                    for colorectal cancer screening:
                </p>

                <div class="cont-tbl table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="33%">Age</th>
                                <th width="33%">Test</th>
                                <th width="44%">Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6">Men and women age 50 years and older, for all tests</td>
                                <td>gFOBT or FIT test</td>
                                <td>Once per year</td>
                            </tr>
                            <tr>

                                <td>Multitarget stoll DNA test</td>
                                <td>Every 3 years</td>
                            </tr>
                            <tr>

                                <td>FSIG</td>
                                <td>Every 5 years</td>
                            </tr>
                            <tr>

                                <td>Double-contrast barium enema </td>
                                <td>Every 5 years</td>
                            </tr>
                            <tr>

                                <td>CT colonography</td>
                                <td>Every 5 years</td>
                            </tr>
                            <tr>
                                <td>Colonoscopy</td>
                                <td>Every 10 years</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center content-p content-inner-img p-t-20">
                    <img class="img-responsive" src="assets/images/ch-1/Screening-for-colorectal-cancer.jpg" alt="Screening for colorectal cancer" />
                </div>
                <p class="content-p h9">Credit: Sixteenth Street Community Health Centers</p>

            </div>

            <!-- end content-left -->

            <!-- start content-right -->
            <div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="content-right-bg m-b-40">
                    <div class="col-xs-12">
                        <div class="h6">Reading for this section</div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Lorem ipsum dolor sit amet, consectetur " class="gaes-cls" data-ga-action="Useful resources - Read More">Lorem ipsum dolor sit amet, consectetur </a>
                            </p>

                        </div>
                        <div class="col-xs-2">
                            <span class="onco-article c-pink sec-icon"></span>
                        </div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Lorem ipsum dolor sit amet, consectetur " class="gaes-cls" data-ga-action="Useful resources - Read More">Lorem ipsum dolor sit amet, consectetur </a>
                            </p>

                        </div>
                        <div class="col-xs-2">
                            <span class="onco-article c-pink sec-icon"></span>
                        </div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Lorem ipsum dolor sit amet, consectetur " class="gaes-cls" data-ga-action="Useful resources - Read More">Lorem ipsum dolor sit amet, consectetur </a>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span class="onco-article c-pink sec-icon"></span>
                        </div>

                    </div>

                </div>
                <div class="content-right-bg m-b-40">
                    <div class="col-xs-12">
                        <div class="h6">Video for this section</div>
                    </div>

                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a class="gaes-cls" data-ga-action="Useful resources - View Video" href="https://www.youtube.com/watch?v=uuLtiGmmBV4" target="_blank" title="Maecenas bibendum rhoncus diam nec">Maecenas bibendum rhoncus diam nec</a>
                            </p>

                        </div>
                        <div class="col-xs-2">
                            <span class="onco-video c-pink sec-icon"></span>
                        </div>
                    </div>

                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a class="gaes-cls" data-ga-action="Useful resources - View Video" href="https://www.youtube.com/watch?v=uuLtiGmmBV4" target="_blank" title="Maecenas bibendum rhoncus diam nec">Maecenas bibendum rhoncus diam nec</a>
                            </p>

                        </div>
                        <div class="col-xs-2">
                            <span class="onco-video c-pink sec-icon"></span>
                        </div>
                    </div>

                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a class="gaes-cls" data-ga-action="Useful resources - View Video" href="https://www.youtube.com/watch?v=uuLtiGmmBV4" target="_blank" title="Maecenas bibendum rhoncus diam nec">Maecenas bibendum rhoncus diam nec</a>
                            </p>

                        </div>
                        <div class="col-xs-2">
                            <span class="onco-video c-pink sec-icon"></span>
                        </div>
                    </div>

                </div>
                <div class="content-right-bg m-b-40">
                    <div class="col-xs-12">
                        <div class="h6">Audio for this section</div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Ut auctor laoreet sapien, nec porta tellus" class="gaes-cls" data-ga-action="Useful resources - Read More">Ut auctor laoreet sapien, nec porta tellus</a>
                            </p>


                        </div>
                        <div class="col-xs-2">
                            <span class="onco-audio c-pink sec-icon"></span>
                        </div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Ut auctor laoreet sapien, nec porta tellus" class="gaes-cls" data-ga-action="Useful resources - Read More">Ut auctor laoreet sapien, nec porta tellus</a>
                            </p>


                        </div>
                        <div class="col-xs-2">
                            <span class="onco-audio c-pink sec-icon"></span>
                        </div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Ut auctor laoreet sapien, nec porta tellus" class="gaes-cls" data-ga-action="Useful resources - Read More">Ut auctor laoreet sapien, nec porta tellus</a>
                            </p>


                        </div>
                        <div class="col-xs-2">
                            <span class="onco-audio c-pink sec-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="content-right-bg m-b-40">
                    <div class="col-xs-12">
                        <div class="h6">Website for this section</div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Lorem ipsum dolor sit amet, consectetur " class="gaes-cls" data-ga-action="Useful resources - Read More">Lorem ipsum dolor sit amet, consectetur </a>
                            </p>


                        </div>
                        <div class="col-xs-2">
                            <span class="onco-resource c-pink sec-icon"></span>
                        </div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Lorem ipsum dolor sit amet, consectetur " class="gaes-cls" data-ga-action="Useful resources - Read More">Lorem ipsum dolor sit amet, consectetur </a>
                            </p>


                        </div>
                        <div class="col-xs-2">
                            <span class="onco-resource c-pink sec-icon"></span>
                        </div>
                    </div>
                    <div class="content-right-inner">
                        <div class="col-xs-10">
                            <p class="h8 c-pink">
                                <a href="https://www.cancer.gov/about-cancer/treatment/types/precision-medicine" target="_blank" title="Lorem ipsum dolor sit amet, consectetur " class="gaes-cls" data-ga-action="Useful resources - Read More">Lorem ipsum dolor sit amet, consectetur </a>
                            </p>


                        </div>
                        <div class="col-xs-2">
                            <span class="onco-resource c-pink sec-icon"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end content-right -->
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1" (onClickTitle)="goToElem($event)"></app-breadcrumb>