.dash-tbl-list thead>tr {
    background: #f7f9fa;
}

.dash-tbl-list thead>tr>th {
    padding: 10px 15px;
    font-size: 20px;
    color: #ff4fa1;
    text-align: left;
    border: 0 none;
}

.dash-tbl-list thead>tr>th:first-child {
    text-align: left;
}

.dash-tbl-list thead>tr>th:last-child {
    text-align: right;
}

.dash-tbl-list tbody>tr:nth-child(even) {
    background: #f7f9fa;
}

.dash-tbl-list tbody>tr>td {
    padding: 20px 15px;
    font-size: 16px;
    color: #565b61;
    text-align: left;
    border: 0 none;
}

.dash-tbl-list tbody>tr>td:first-child {
    text-align: left;
    font-family: 'Montserrat-SemiBold';
}

.dash-tbl-list tbody>tr>td:last-child {
    text-align: right;
}

.dash-tbl-list tbody>tr>td>a {
    color: #ff4fa1;
    text-decoration: underline;
}