<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Patients"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h2 class="dash-heading">A-Z of Patients</h2>
            </div>
            <div *ngIf="role==2" class="col-md-3 col-sm-3 p-b-50">
                <a routerLink="/researcher/add-patient" class="btn btn-violet btn-block">Add a Patient</a>
            </div>
            <div *ngIf="role==2" class="col-md-3 col-sm-4 p-b-50">
                <button (click)="export_report()" class="btn btn-violet btn-block">Export Patient Data</button>
            </div>
            <div *ngIf="role!=4" class="col-md-3 col-sm-5 p-b-50">
                <button (click)="export_tracking_report()" class="btn btn-violet btn-block">Export Tracking Data</button>
            </div>
            <div class="col-xs-12 dash-tbl-list">
                <div class="table-responsive">
                    <table class="table" *ngIf="patients_list?.length > 0;">
                        <thead>
                            <tr>
                                <th>Patient</th>
                                <th>Subject ID</th>
                                <th>Primary Cancer</th>
                                <th>Primary Provider</th>
                                <th>Secondary Provider</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patients_list">
                                <td class="t-capitalize">
                                    <a [routerLink]="[(role==2? '/researcher':'/provider')+'/patient-details',patient.user_id]">{{ patient.fullname }}</a>
                                </td>
                                <td>{{ patient.subject_id }}</td>
                                <td>{{ patient.cancer_title}}</td>
                                <td>{{ patient.primary_provider }}</td>
                                <td>{{ patient.secondary_provider }}</td>
                                <td *ngIf="patient.is_active == 1">Active </td>
                                <td *ngIf="patient.is_active == 0"> Inactive </td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 class="text-center" *ngIf="patients_list?.length <= 0">No data found</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>