<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Hi, {{user_detail.first_name}}"></app-inner-page-header>
    <div class="container">
        <div class="row p-b-20" *ngIf="incompleted_questionnaire >0 || is_enable_questionnaire == '1'">
            <div class="col-md-12 complete-notification"
                *ngIf="(currentWeek == 4 || is_enable_questionnaire == '1') && currentWeek>0">

                <div class="col-xs-12 well">
                    <div class="alert-icon">
                        <span class="onco-alert"></span>
                    </div>
                    <div class="alert-text">
                        <p class="h7" *ngIf="!is_questionnaire_completed && incompleted_questionnaire == 4">
                            <span>You have a 10-minute survey to complete.</span>
                        </p>
                        <p class="h7" *ngIf="!is_questionnaire_completed && incompleted_questionnaire < 4">
                            <span>You have remaining {{ incompleted_questionnaire }} questionnaire to complete.</span>
                        </p>
                        <p class="h7" *ngIf="is_questionnaire_completed">
                            <span>You have been completed survey.</span>
                        </p>
                    </div>
                    <div class="alert-Complete-btn">
                        <button routerLink="/questionnaire/intolerance" type="button"
                            class="btn btn-violet btn-block f-regular">Complete questionnaires</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 complete-notification" *ngIf="all_week_status!=''">
                <div class="col-xs-12 well">
                    <div class="alert-icon">
                        <span class="onco-alert"></span>
                    </div>
                    <div class="alert-text">
                        <p class="h7">
                            <strong>{{all_week_status}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-30" [ngClass]="incompleted_questionnaire == 0 ? 'm-t-25' : ''">
            <div class="col-md-5 col-sm-6 col-xs-12 v-middle">
                <!-- start text -->
                <div class="img-text-bg text-center" *ngIf="arm=='INTERVENTION'">
                    <div class="text">
                        <div *ngIf="weekly_quotes?.quote">
                            <p class="h8"><em>{{ weekly_quotes?.quote }}</em></p>
                            <p class="h8 c-violet f-regular">- {{ weekly_quotes?.author }}</p>
                        </div>
                        <p *ngIf="!weekly_quotes?.quote" class="h8">No inspirational quote defined</p>
                    </div>
                </div>
                <!-- end text -->

                <!-- start image -->
                <div class="img-bg" *ngIf="arm=='CONTROL'">
                    <div class="img">
                        <img src="assets/images/dashboard_left.jpg" alt="user" />
                    </div>
                </div>
                <!-- end image -->
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 v-middle">
                <ng-container *ngFor="let weekInfo of currentWeekInfo; let i=index">
                    <div class="achievements-bg" *ngIf="currentWeek == weekInfo?.week_number"
                        [ngClass]="currentWeek>0 ? (currentWeek == weekInfo?.week_number ? 'disabled' : '') : ''">
                        <h6 class="enabled">My Achievements & Events</h6>
                        <div class="row">
                            <div class="col-xs-4 icon">
                                <i class="onco-events c-d-blue"
                                    [ngClass]="currentWeek ? ((weekInfo?.week_number >= i+1 && weekInfo?.total_time_spent_in_week >= 20) ? '' : 'disabled') : ''"></i>

                            </div>
                            <div class="col-xs-4 icon">
                                <i class="onco-achievements c-pink"
                                    [ngClass]="currentWeek ? ((weekInfo?.week_number >= i+1 && weekInfo?.total_time_spent_in_week >= 30 && weekInfo?.total_watched_video_audio >= 2) ? '' : 'disabled') : ''"></i>

                            </div>
                            <div class="col-xs-4 icon">
                                <i class="onco-award c-orange"
                                    [ngClass]="currentWeek ? ((weekInfo?.week_number >= i+1 && weekInfo?.total_time_spent_in_week >= 30 && weekInfo?.total_watched_video_audio >= 5) ? '' : 'disabled'): ''"></i>

                            </div>
                            <div class="col-xs-12 text-right">
                                <a (click)="viewAllAchivement()" href="javascript:void(0)" class="f-medium">View all</a>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="achievements-bg disabled"
                    *ngIf="!(currentWeekInfo && currentWeekInfo.length) || currentWeek<0">

                    <h6 class="enabled">My Achievements & Events</h6>
                    <div class="row">
                        <div class="col-xs-4 icon">
                            <i class="onco-events c-d-blue disabled"></i>

                        </div>
                        <div class="col-xs-4 icon">
                            <i class="onco-achievements c-pink disabled"></i>

                        </div>
                        <div class="col-xs-4 icon">
                            <i class="onco-award disabled"></i>

                        </div>
                        <div class="col-xs-12 text-right">
                            <a (click)="viewAllAchivement()" href="javascript:void(0)" class="f-medium">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 scheduled-session" *ngFor="let session of bluejeansDetails">

                    <div class="row">
                        <div class="col-md-6 col-sm-6 m-t-10 ">
                            <h4 class="c-pink">Join the weekly group</h4>
                            <p><strong>Date:</strong> {{ getFormatedDate(session?.session_date) | date:'fullDate' }}</p>
                            <p><strong>Time:</strong>
                                {{(getFormatedDate(session?.session_date +" "+ session?.session_time)) | date:'H:mm'}}
                                {{session?.session_time_am_pm}} </p>
                            <p><strong>Topic:</strong> {{session?.session_topic}}</p>
                            <a href="{{session?.session_url}}" target="_blank" class="btn btn-gray m-t-10">Join</a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div>
                                <img src="assets/images/bluejeans_session.jpg" alt="video bg" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row chapters">
            <div class="col-xs-6 col-sm-4 col-md-4 text-center" *ngFor="let chapter of pageContent">
                <a [routerLink]="user_detail?.is_week_started ? chapter.slug : '/patient/dashboard'"
                    title="chapter.content_name" class="chapter-links">
                    <img src="{{ chapter.image }}" alt="{{ chapter.content_name }}">
                    <h6 class="c-pink text-center p-t-10" *ngIf="chapter.week_number == ''">{{ chapter.content_name }}
                    </h6>
                    <h6 class="c-pink text-center p-t-10" *ngIf="chapter.week_number != ''">Class
                        {{ chapter.week_number }} <br />{{ chapter.content_name }}</h6>
                </a>
            </div>
        </div>
    </div>
</div>