<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Hi, {{user_detail.fullname}}"></app-inner-page-header>
    <div class="container">
        <div class="row p-b-20">
            <!-- <div class="col-md-12 complete-notification" *ngIf="(all_week_status=='' ? (is_questionnaire_completed ? is_questionnaire_completed : incompleted_questionnaire!=0): false)"> -->
            <div class="col-md-12 complete-notification" *ngIf = "currentWeek >=3">
                
                <div class="col-xs-12 well">
                    <div class="alert-icon">
                        <span class="onco-alert"></span>
                    </div>
                    <div class="alert-text">
                        <p class="h7">
                            <span>You have <span class="c-pink">{{incompleted_questionnaire}}</span> questionnaires to complete this week.</span>
                        </p>
                    </div>
                    <div class="alert-Complete-btn">
						
                        <button disabled = "currentWeek <=3" routerLink = "/questionnaire/intolerance" type="button" class="btn btn-violet btn-block f-regular">Complete questionnaires</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 complete-notification" *ngIf="all_week_status!=''">
                <div class="col-xs-12 well">
                    <div class="alert-icon">
                        <span class="onco-alert"></span>
                    </div>
                    <div class="alert-text">
                        <p class="h7">
                            <strong>{{all_week_status}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-30">
            <div class="col-md-5 col-sm-6 col-xs-12 v-middle">
                <!-- start text -->
                <div class="img-text-bg text-center" *ngIf="arm=='INTERVENTION'">
                    <div class="text">
                        <p class="h8">Life is better when we don’t try to do everything. Learn to enjoy the slice of life you experience, and” life turns out to be wonderful.</p>
                        <p class="h8 c-violet f-regular">- Leo Babauta</p>
                    </div>
                </div>
                <!-- end text -->

                <!-- start image -->
                <div class="img-bg" *ngIf="arm=='CONTROL'">
                    <div class="img">
                        <img src="assets/images/dashboard_left.jpg" alt="user" />
                    </div>
                </div>
                <!-- end image -->
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 v-middle">
                <div class="achievements-bg">
                    <h6>My Achievements & Events</h6>
                    <div class="row">
                        <div class="col-xs-4 icon">
                            <i class="onco-events c-d-blue"></i>
                            <p><strong>Maecenas</strong></p>
                        </div>
                        <div class="col-xs-4 icon">
                            <i class="onco-achievements c-pink"></i>
                            <p><strong>Lorem</strong></p>
                        </div>
                        <div class="col-xs-4 icon disabled">
                            <i class="onco-award"></i>
                            <p><strong>Phasellus</strong></p>
                        </div>
                        <div class="col-xs-12 text-right">
                            <a routerLink = "/achievements" href="javascript:void(0)" class="f-medium">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 scheduled-session">

                    <div class="row">
                        <div class="col-md-6 col-sm-6 m-t-10">
                            <h4 class="c-pink">Join a scheduled session</h4>
                            <p><strong>Date:</strong> Mon April 16, 2016</p>
                            <p><strong>Time:</strong> 2:00pm EST</p>
                            <p><strong>Topic:</strong> In vitae erat cursus urna pharetra tristique</p>
                            <button class="btn btn-gray m-t-10">Join</button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div>
                                <img src="assets/images/video_bg.jpg" alt="video bg" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row genomic-profiling">
            <div class="col-xs-6 col-sm-4 col-md-4 text-center" *ngFor="let chapter of pageContent">
                <a [routerLink]="chapter.slug" title="chapter.content_name" class="gaes-cls">
                    <img src="{{ chapter.image }}" alt="{{ chapter.content_name }}">
                    <h6 class="c-pink">{{ chapter.content_name }}</h6>
                </a>
            </div>
        </div>
    </div>
</div>