.complete-notification {
    margin-top: 40px;
}

.complete-notification .well {
    padding: 25px 30px;
    border-radius: 6px;
    border: 0 none;
    background-color: #f4f6f6;
    box-shadow: none;
}

.complete-notification .onco-alert {
    font-size: 54px;
    color: #5e348e;
}

.complete-notification p.h7 {
    margin: 14px 0;
}

.complete-notification .alert-icon {
    width: 80px;
    float: left;
}

.complete-notification .alert-text {
    float: left;
    width: 60.5%;
    margin-right: 10px;
}

.complete-notification .alert-Complete-btn {
    float: left;
    width: 30%;
}
.alert-Complete-btn a{
    text-transform: none;
    line-height: 36px;
}

.img-text-bg {
    float: left;
    width: 100%;
    border: 2px solid #f7e3f6;
    border-radius: 6px;
    /*padding: 20px;*/
}
.img-bg {
    float: left;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 6px;
    /*padding: 20px;*/
}
.v-middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.img-text-bg .text {
    padding: 20px;
    height: 266px;
    display: table-cell;
    vertical-align: middle;
}
.img-bg .img {
    padding: 0;
    height: 266px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.img-bg .img img {
    width: 100%;
    border-radius: 6px;
}
.achievements-bg {
    float: left;
    width: 100%;
    border: 2px solid #e5e9eb;
    border-radius: 6px;
    padding: 15px 20px;
}
.achievements-bg .icon{
    text-align: center;
    padding: 20px 10px;
}
.achievements-bg .icon i{
    font-size: 90px;
}
.achievements-bg .icon p{
    margin:0;
    padding-top: 10px;
}
.disabled{
    color: #e5e9eb;
}
/*.graph-bg h6,
.graph-bg .h6 {
    padding-bottom: 25px;
}
*/
.complete-number {
    font-size: 46px;
    font-family: 'Montserrat-SemiBold';
    line-height: 46px;
}

.things-to-link i,
.things-to-link a {
    /* color: #00819e; */
    vertical-align: middle
}

.things-to-link .link i {
    font-size: 30px;
    font-weight: 600;
    margin-right: 15px;
}

.things-to-link .link {
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    line-height: 48px;
}

.things-to-link {
    padding-left: 30px;
}

.genomic-profiling a i {
    font-size: 220px;
    display: block;
    min-height: 250px;
}

.genomic-profiling a {
    text-decoration: none;
    float: left;
    width: 100%;
    cursor: pointer;
}

.genomic-profiling span {
    padding: 0 38px 70px 38px;
    width: 100%;
    display: inline-block;
    line-height: 28px;
    font-family: 'Montserrat-Regular';
}

.c-light-blue {
    color: #38ccd1;
}

.c-green {
    color: #37be9d;
}

.c-yellow {
    color: #f0bb47;
}

.c-light-green {
    color: #81d766;
}

.c-red {
    color: #e0465f;
}
.scheduled-session{
    border: 2px solid #e5e9eb;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 80px;
}
.scheduled-session p{
    font-size: 18px;
}
.scheduled-session .btn-gray{
    font-size: 15px;
    font-weight: bold;
    width: 140px;
}

@media (max-width: 1199px) {
    .complete-notification .alert-text {
        float: left;
        width: 58%;
        margin-right: 10px;
    }
    .complete-notification .alert-Complete-btn {
        float: left;
        width: 32%;
    }
    .complete-notification p.h7 {
        margin: 14px 0;
    }
    .complete-notification .well {
        padding: 30px 20px;
    }
}

@media (max-width: 991px) {
    .complete-notification .btn-violet {
        white-space: normal;
        font-size: 16px;
        padding: 12px 0;
    }
    .complete-notification p.h7 {
        margin: 0;
    }
    .complete-notification .well {
        padding: 30px 4px;
    }
    .complete-notification .alert-icon {
        width: 100px;
    }
    .complete-notification .alert-text {
        float: left;
        width: 50%;
        margin-right: 10px;
    }
    .complete-notification .alert-Complete-btn {
        float: left;
        width: 32%;
    }
    .complete-notification .alert-icon {
        padding-left: 15px;
    }
    .things-to-link .link {
        font-size: 20px;
        line-height: 30px;
        display: flex;
    }
    .things-to-link .link i {
        font-size: 30px;
        margin-right: 15px;
    }
    .graph-left .img-text-bg {
        padding-bottom: 54px;
    }
    .graph-left {
        margin-bottom: 20px;
    }
    .things-to-link {
        padding-left: 20px;
    }
    .genomic-profiling a i {
        font-size: 175px;
        min-height: 200px;
    }
    .genomic-profiling span {
        padding: 0 10px 70px 10px;
    }
    .alert-Complete-btn .btn-violet {
        line-height: 24px;
    }
    .achievements-bg .icon i {
        font-size: 60px;
    }
    .img-text-bg .text {
        height: 238px;
    }
    .img-text-bg .text .h8{
        font-size: 16px;
    }
    .gaes-cls img {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .complete-notification .alert-text {
        float: left;
        width: 75%;
        margin-right: 0;
    }
    .complete-notification .alert-Complete-btn {
        float: left;
        width: 100%;
        padding: 15px 15px 0px;
    }
    .complete-notification p.h7 {
        margin: 15px 0;
    }
    .complete-notification .alert-icon {
        width: 90px;
    }
    .graph-left .col-xs-12 {
        padding-top: 20px;
    }
    .genomic-profiling h6 {
        padding: 15px 15px;
    }
    .genomic-profiling a i {
        font-size: 180px;
        display: block;
        min-height: 135px;
    }
    .scheduled-session{
        margin-bottom: 50px;
    }
    .img-text-bg {
        float: left;
        margin-bottom: 30px;
    }
    .img-bg .img {
        padding: 0;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .img-text-bg .text {
        height: auto;
    }
    .gaes-cls img {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .complete-notification p.h7 {
        margin: 4px 0;
        font-size: 16px;
    }
    .complete-notification .btn-violet {
        font-size: 18px;
        padding: auto;
    }
    .complete-notification .alert-icon {
        width: 70px;
    }
    .complete-notification .onco-alert {
        font-size: 40px;
    }
    .genomic-profiling a i {
        font-size: 120px;
        display: block;
        min-height: 120px;
    }
    .genomic-profiling span {
        padding: 15px 0 30px;
    }
    .gaes-cls img {
        width: 75%;
    }
}