/* start theme fonts*/

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('assets/fonts/Montserrat-SemiBoldItalic.eot');
    src: url('assets/fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-SemiBoldItalic.woff') format('woff'), url('assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('assets/fonts/Montserrat-Bold.eot');
    src: url('assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Bold.woff') format('woff'), url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url('assets/fonts/Montserrat-ThinItalic.eot');
    src: url('assets/fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-ThinItalic.woff') format('woff'), url('assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url('assets/fonts/Montserrat-BoldItalic.eot');
    src: url('assets/fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-BoldItalic.woff') format('woff'), url('assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('assets/fonts/Montserrat-SemiBold.eot');
    src: url('assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-SemiBold.woff') format('woff'), url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('assets/fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('assets/fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'), url('assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('assets/fonts/Montserrat-ExtraBold.eot');
    src: url('assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-ExtraBold.woff') format('woff'), url('assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url('assets/fonts/Montserrat-LightItalic.eot');
    src: url('assets/fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-LightItalic.woff') format('woff'), url('assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('assets/fonts/Montserrat-Light.eot');
    src: url('assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Light.woff') format('woff'), url('assets/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url('assets/fonts/Montserrat-ExtraLightItalic.eot');
    src: url('assets/fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-ExtraLightItalic.woff') format('woff'), url('assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('assets/fonts/Montserrat-ExtraLight.eot');
    src: url('assets/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-ExtraLight.woff') format('woff'), url('assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('assets/fonts/Montserrat-Medium.eot');
    src: url('assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Medium.woff') format('woff'), url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('assets/fonts/Montserrat-MediumItalic.eot');
    src: url('assets/fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-MediumItalic.woff') format('woff'), url('assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url('assets/fonts/Montserrat-BlackItalic.eot');
    src: url('assets/fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-BlackItalic.woff') format('woff'), url('assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat-Black.eot');
    src: url('assets/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Black.woff') format('woff'), url('assets/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('assets/fonts/Montserrat-Thin.eot');
    src: url('assets/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Thin.woff') format('woff'), url('assets/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('assets/fonts/Montserrat-Regular.eot');
    src: url('assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Regular.woff') format('woff'), url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('assets/fonts/Montserrat-Italic.eot');
    src: url('assets/fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Montserrat-Italic.woff') format('woff'), url('assets/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'oncotool';
    src: url('assets/fonts/oncotool.eot?igntth');
    src: url('assets/fonts/oncotool.eot?igntth#iefix') format('embedded-opentype'), url('assets/fonts/oncotool.ttf?igntth') format('truetype'), url('assets/fonts/oncotool.woff?igntth') format('woff'), url('assets/fonts/oncotool.svg?igntth#oncotool') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="onco-"],
[class*=" onco-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'oncotool' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.onco-article:before {
    content: "\e900";
}

.onco-audio:before {
    content: "\e901";
}

.onco-plus:before {
    content: "\e902";
}

.onco-video:before {
    content: "\e903";
}

.onco-close:before {
    content: "\e904";
}

.onco-minus:before {
    content: "\e905";
}

.onco-alert:before {
    content: "\e906";
}

.onco-coping-managing:before {
    content: "\e907";
}

.onco-download-genomic-profile-report:before {
    content: "\e908";
}

.onco-making-medical:before {
    content: "\e909";
}

.onco-managing-non-physical:before {
    content: "\e90a";
}

.onco-managing-physical:before {
    content: "\e90b";
}

.onco-precision-oncology:before {
    content: "\e90c";
}

.onco-preparing-for:before {
    content: "\e90d";
}

.onco-health-concerns:before {
    content: "\e90f";
}

.onco-resource:before {
    content: "\e910";
}

.onco-decision-making:before {
    content: "\e911";
}
.onco-care-after-cancer .path1:before {
  content: "\e90e";
  color: rgb(0, 0, 0);
}
.onco-care-after-cancer .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-eat-well-feel-well .path1:before {
  content: "\e913";
  color: rgb(0, 0, 0);
}
.onco-eat-well-feel-well .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-healthy-at-any-age .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.onco-healthy-at-any-age .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-healthy-mind .path1:before {
  content: "\e917";
  color: rgb(0, 0, 0);
}
.onco-healthy-mind .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-life-after-cancer .path1:before {
  content: "\e919";
  color: #000;
}
.onco-life-after-cancer .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-life_after_cancer .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-life-after-cancer .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-staying-active .path1:before {
  content: "\e91d";
  color: rgb(0, 0, 0);
}
.onco-staying-active .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-staying-active .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-staying-active .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-understanding-breast-cancer .path1:before {
  content: "\e921";
  color: rgb(0, 0, 0);
}
.onco-understanding-breast-cancer .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.onco-wrapping-up .path1:before {
  content: "\e923";
  color: rgb(0, 0, 0);
}
.onco-wrapping-up .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}


/*end theme fonts*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat-Light';
    font-size: 16px;
    line-height: 24px;
    color: #4f5359;
}

*:focus {
    outline: none !important;
}

.t-c-pink {
    color: #ff4fa1;
}

.c-blue {
    color: #007b96;
}

.c-pink{color: #ce10bf;}

.uppercase {
    text-transform: uppercase;
}

.content-inner-img {
    padding-top: 0px;
    padding-bottom: 25px;
}

.content-inner-img img {
    margin: 0 auto;
}

.img-center,
.m-0-auto {
    margin: 0 auto;
}

.h1,
h1 {
    font-size: 60px;
    line-height: 60px;
}

.h2,
h2 {
    font-size: 48px;
    line-height: 48px;
}

.h3,
h3 {
    font-size: 42px;
    line-height: 42px;
}

.h4,
h4 {
    font-size: 34px;
    line-height: 38px;
}

.h5,
h5 {
    font-size: 30px;
    line-height: 30px;
}

.h6,
h6 {
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    line-height: 27px;
}

.h7 {
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    line-height: 24px;
}

.h8 {
    font-family: 'Montserrat-SemiBold';
    font-size: 18px;
    line-height: 24px;
}

.h9 {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat-Regular';
}

.no-padding {
    padding: 0;
}

.f-18 {
    font-size: 18px !important;
}

.f-medium {
    font-family: 'Montserrat-Medium';
}

.f-regular {
    font-family: 'Montserrat-Regular';
}

.f-bold {
    font-family: 'Montserrat-Bold';
}

.f-semi-bold {
    font-family: 'Montserrat-SemiBold';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 600s ease-in-out 0s;
}

.breadcrumb-top {
    border-bottom: 1px solid #e6edf0;
    margin-bottom: 50px;
}

.breadcrumb-top ul {
    list-style: none;
    padding: 10px 0;
    width: 100%;
    float: left;
    margin: 0;
}

.breadcrumb-top ul li {
    float: left;
}

.breadcrumb-top ul li a {
    color: #565b61;
    text-decoration: none;
}

.breadcrumb-top ul li span {
    padding: 0px 4px 2px 8px;
    color: #bcc2c8;
    vertical-align: middle;
}

.breadcrumb-top ul li:first-child span {
    padding: 0px 4px 2px 0;
}

.filled-bullet li:before {
    content: ".";
    position: relative;
    left: -8px;
    font-weight: 900;
    font-size: 65px;
    color: #007b96;
    line-height: 0px;
    top: -4px;
}

.filled-bullet {
    list-style: none;
    padding: 0 5px;
}

.cps .filled-bullet li {
    padding-left: 30px;
}

.cps .filled-bullet li:before {
    content: ".";
    position: relative;
    left: -20px;
    font-weight: 900;
    font-size: 65px;
    color: #007b96;
    line-height: 0px;
    top: -8px;
    display: flex;
}

.cps .filled-bullet {
    padding: 0 30px;
    margin-top: 20px;
}

.cps {
    font-weight: 600;
}

.arrow-bullet li {
    padding: 5px 0;
    position: relative;
    list-style: none;
}

.arrow-bullet>li li:before {
    content: "o";
    position: absolute;
    left: -25px;
    font-weight: 900;
    font-size: 14px;
    top: 3px;
    color: #007b96;
}

.arrow-bullet>li:before {
    content: "›";
    position: absolute;
    left: -30px;
    font-weight: 900;
    font-size: 32px;
    top: 2px;
}

.inner-content {
    padding-top: 75px;
}

.primary-bg {
    background-color: #5f348e;
}

a{color: #ce10bf;}
a:hover,
a:focus,
a:active {
    color: #b70eaa;
    text-decoration: none;
}

.inner-content .header {
    height: 105px;
    color: #fff;
    padding: 10px 0;
}

.heading {
    font-size: 48px;
    line-height: 48px;
    color: #ce10bf;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.b-line {
    display: block;
    background-color: #edf1f5;
    height: 1px;
    margin: 30px 0;
}

.tag {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 4px;
    font-size: 12px;
    color: #387992;
    font-family: 'Montserrat-Medium';
}

.severe {
    background-color: #99ddeb;
    font-weight: 700;
}

.not-severe {
    background-color: #ecf8fb;
}

.btn {
    height: 50px;
    font-size: 15px;
    line-height: 32px;
}

.btn-load-more {
    background-color: transparent;
    border: 2px solid #c0c5cc;
}

.btn-load-more:hover,
.btn-load-more:focus {
    border: 2px solid #4f5359;
}

.btn-violet {
    color: #fff;
    background-color: #ce10bf;
    box-shadow: 0px 5px #b406a0;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-disabled {
    color: #fff;
    background-color: #c0c5cc;
    cursor: not-allowed;
}

.btn-disabled:hover,
.btn-disabled:focus {
    color: #fff;
    background-color: #c0c5cc;
}

.btn-gray {
    color: #fff;
    background-color: #676e76;
}

.btn-violet:hover,
.btn-violet:focus {
    color: #fff;
    background-color: #b406a0;
}

.btn-gray:hover,
.btn-gray:focus {
    color: #fff;
    background-color: #7f868f;
}

.btn-250 {
    width: 250px;
}

.btn-310 {
    width: 310px;
}

.btn-350 {
    width: 350px;
}

.btn-285 {
    width: 285px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-t-10 {
    padding-top: 10px;
}
.p-t-20 {
    padding-top: 20px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-b-0 {
    padding-bottom: 0;
}

.m-t-10 {
    margin-top: 10px;
}
.m-t-40 {
    margin-top: 40px;
}

.m-t-60 {
    margin-top: 60px;
}

.bg-light-green {
    background-color: #38ccd1;
}

.border-b {
    border-bottom: 1px solid #dee0e0;
}

.bg-light {
    background-color: #f7f9fa;
}

.t-capitalize {
    text-transform: capitalize;
}


/* The container */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #007b96;
    background-color: #f8f9fb;
    margin: 0 auto;
    border-radius: 2px;
}


/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
    background-color: #007b96;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
    left: 8px;
    top: 2px;
    width: 9px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-container {
    position: relative;
}

.radio-container span {
    position: relative;
    padding-left: 20px;
}

.radio-container span:after {
    content: '';
    width: 26px;
    height: 26px;
    border: 3px solid #e6edf0;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.radio-container input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.radio-container input[type="radio"]+span:before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 6px;
    top: 7px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.radio-container input[type="radio"]:checked+span:before {
    background: #007b96;
}

.radio-container input[type="radio"]:not(:checked)+span:before {
    background: #e6edf0;
    width: 21px;
    height: 21px;
    left: 2px;
    top: 3px;
}


/* Custom page CSS
-------------------------------------------------- */


/* start container welcome */

.welcome-bg {
    background-image: url(assets/images/welcome_bg.jpg);
    min-height: 100%;
    margin-top: 72px;
    height: 850px;
    position: relative;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
}

.welcome-text {
    margin: 150px 0 60px 0;
}

.welcome-text h1 {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.signin-bg {
    /*background-color: #1298ba;*/
    background: transparent;
    color: #fff;
    min-height: 200px;
    padding-bottom: 20px;
}

.signin-form label {
    font-weight: normal;
    font-size: 16px;
}

form.signin-form input {
    border-radius: 4px;
    height: 52px;
    font-weight: bold;
}

.signin-bg .h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 300;
}

form.signin-form {
    padding-top: 20px;
}

form.signin-form .col-md-4 {
    width: 37.5%;
    float: left;
    padding-right: 20px;
}

form.signin-form .col-md-3 {
    width: 24.5%;
}

.what-is-oncotool {
    padding-top: 150px;
}

.what-is-oncotool .h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.what-is-oncotool a {
    display: block;
    text-align: center;
    margin: 24px 65px 0;
}

.what-is-oncotool a img {
    width: 40px;
}


/* end container welcome */


/* start container what-is-onco-tool */

.detail-text .h3 {
    text-align: center;
    color: #8934d4;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    padding: 10px 0;
}

.detail-text p {
    text-align: center;
    color: #454a4a;
    font-size: 16px;
    line-height: 24px;
}

.blue-arrow-bottom {
    padding-top: 60px;
}

.blue-arrow-bottom .h3 {
    color: #cd12be;
    font-size: 24px;
    text-align: center;
}

.blue-arrow-bottom a {
    display: block;
    text-align: center;
    margin: 24px 65px 0;
}

.blue-arrow-bottom a img {
    width: 40px;
}
.c-d-pink{color: #8934d4;}

/* end container what-is-onco-tool */


/*start learn-more-about*/

.learn-more-about {
    background-color: #f8f9fb;
    padding-bottom: 100px;
}

.map-img {
    border: 6px solid #fff;
}

.get-in-touch h2 {
    font-weight: 400;
    font-size: 30px;
    color: #8934d4;
    margin: 0 0 10px 0;
    line-height: 40px;
    padding-top: 10px;

}

.get-in-touch p {
    font-size: 16px;
    padding-bottom: 20px;
    font-family: "Montserrat-Regular";
}

.link {
    color: #ce10bf;
    font-weight: 500;
}

.link:hover,
.link:focus {
    color: #a20896;
}

.accordion-toggle span,
.accordion-toggle h6,
.accordion-toggle .h6 {
    color: #007b96;
}


/*end learn-more-about*/

.content-p {
    padding-bottom: 15px;
}

.content-right-bg {
    background-color: #f7f7f7;
    float: left;
    display: block;
    padding: 0 30px;
}

.content-right-bg h6,
.content-right-bg .h6 {
    padding: 30px 0;
    margin-bottom: 20px;
}

.content-right-inner {
    float: left;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.content-right-inner:last-child {
    border-bottom: 0 none;
    margin-bottom: 0px;
}

.main-accordion .panel {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
}

.main-accordion .panel-default>.panel-heading {
    /*color: #00819e;*/
    color: #00a7ce;
    background-color: #fff;
}

.main-accordion .panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.main-accordion.panel-group .panel+.panel {
    margin-top: 10px;
}

.main-accordion .panel-body {
    padding: 10px 26px;
}

.main-accordion .panel-heading {
    padding: 8px 26px;
}

.main-accordion .accordion-inner h6,
.main-accordion .accordion-inner .h6 {
    padding: 0 0 20px;
}

.circle-list {
    font-size: 14px;
    font-family: 'Montserrat-Bold';
    color: #575a61;
    background-color: #eaf7fd;
    border-radius: 50%;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 24px;
}

.section .section-content {
    border-bottom: 1px solid #edf2f5;
    width: 100%;
    // float: left;
    padding: 20px 0;
}

.section:last-child .section-content {
    border-bottom: 1px solid transparent;
}

.b-bottom {
    border-bottom: 1px solid #edf2f5 !important;
}

.no-border {
    border: 0 none;
}

.section-content .sec-icon {
    width: 40px;
    // float: left;
    font-size: 26px;
}

.content-right-inner .sec-icon {
    font-size: 26px;
    float: right;
    width: 100%;
}

.section-content .sec-desc {
    // float: left;
    width: calc(100% - 175px);
    padding: 0 15px;
}

.section-content .sec-desc p {
    margin: 0;
}

.section-content .sec-button {
    width: 130px;
    float: left;
    height: 40px;
    font-size: 17px;
    line-height: 24px;
}

.contact-number {
    color: #594080;
    font-size: 30px;
}

.content-right-inner .col-xs-10,
.content-right-bg .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}


/*start researcher*/

.dash-heading {
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 30px;
    margin-top: 0;
}

.ot-form .form-group {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.ot-form {
    float: left;
    width: 100%;
}

.ot-form label {
    font-size: 18px;
    padding-bottom: 10px;
    color: #007b96;
    float: left;
    width: 100%;
}

.ot-form input {
    border-radius: 2px;
    background-color: #e6edf0;
    border: 1px solid #d6e1e5;
    height: 50px;
    font-size: 18px;
}

.ot-form textarea {
    border-radius: 2px;
    background-color: #e6edf0;
    border: 1px solid #d6e1e5;
    font-size: 18px;
    resize: none;
}

.ot-form select {
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d6e1e5;
    height: 50px;
    font-size: 18px;
}

.ot-form small {
    display: block;
    width: 100%;
    font-size: 14px;
    float: left;
}

.ot-form .d-line {
    width: 100%;
    float: left;
    border-top: 2px solid #edf1f5;
    padding-top: 40px;
    margin-top: 30px;
}

.error {
    color: #ca1616;
}

.blue-modal .modal-dialog {
    width: 68%;
}

.blue-modal.modal {
    // background-color: rgba(12, 135, 163, 0.9);
    background-color: rgba(49, 183, 215, 0.8);
}

.blue-modal .modal-body {
    padding-left: 65px;
    padding-right: 65px;
}

.blue-modal .pop-heading {
    font-size: 34px;
    font-family: 'Montserrat-Regular';
    color: #007b96;
    padding-bottom: 30px;
}

.blue-modal .modal-header {
    padding: 40px 25px 0;
    border-bottom: 0 none;
}

.blue-modal .modal-content {
    border-radius: 12px;
}

.blue-modal .modal-header .close {
    position: absolute;
    right: 15px;
    top: 35px;
    z-index: 99;
    height: 20px;
}

.blue-modal .modal-header button {
    font-size: 65px;
    line-height: 0;
}

.blue-modal .modal-body p {
    font-size: 16px;
    font-family: 'Montserrat-Regular';
}

.blue-modal h4 {
    font-size: 24px;
    font-family: 'Montserrat-Medium';
    color: #00a7ce;
}
.theme-green .bs-datepicker-head {
    background-color: #007b96 !important; 
}


/*end researcher*/

// Fact-G7 Graph Report CSS
#fact-g7-chart .amcharts-main-div {
    min-height: 350px;
}


/** Media queries start */

@media (min-width: 1200px) {
    .container {
        width: 1125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content-right-bg {
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    .blue-modal .modal-body {
        padding-left: 25px;
        padding-right: 25px;
    }
    .h3,
    h3 {
        font-size: 34px;
    }
    .h4,
    h4 {
        font-size: 30px;
    }
    .h6,
    h6 {
        font-size: 20px;
    }
    .inner-content .header {
        height: auto;
        padding: 10px 0 20px 0;
    }
    .breadcrumb-top {
        margin-bottom: 30px;
        padding: 0;
    }
    .breadcrumb-top ul li {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .get-in-touch h2 {
        margin: 0px 0 10px 0;
    }
    #fact-g7-chart .amcharts-main-div {
        min-height: 300px;
    }
}

@media (max-width: 767px) {
    #fact-g7-chart .amcharts-main-div {
        min-height: 200px;
    }
    .blue-modal .modal-header button {
        font-size: 50px;
    }
    .blue-modal .modal-dialog {
        width: auto;
    }
    .blue-modal .pop-heading {
        font-size: 24px;
        line-height: 30px;
    }
    .blue-modal .modal-body {
        padding-left: 25px;
        padding-right: 25px;
    }
    .welcome-bg {
        background-image: url(assets/images/welcome_bg_mob.jpg);
    }
    .section-content .sec-desc {
        width: calc(100% - 40px);
        margin-bottom: 10px;
    }
    .section-content .sec-button {
        width: 100%;
        float: left;
        height: 40px;
    }
    .main-accordion .panel-heading {
        padding: 0px 10px;
    }
    .main-accordion .panel-body {
        padding: 4px 10px;
    }
    .h4,
    h4 {
        font-size: 26px;
        line-height: 32px;
    }
    .h3,
    h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .h6,
    h6 {
        font-size: 20px;
    }
    .breadcrumb-top {
        margin-bottom: 20px;
    }
    .breadcrumb-top ul li {
        font-size: 12px;
    }
    .content-right-bg .h6,
    .content-right-bg h6 {
        padding: 10px 0;
    }
    .content-right-bg {
        padding: 0 20px;
    }
    .inner-content {
        padding-top: 70px;
    }
    .logo-img {
        margin-left: 6px;
    }
    .navbar-toggle {
        margin-top: 20px;
    }
    .heading {
        font-size: 38px;
        padding-bottom: 25px;
    }
    .map-img {
        margin: 0 auto;
    }
    .welcome-text h1 {
        font-size: 48px;
    }
    .welcome-text {
        margin: 50px 0 40px 0;
    }
    form.signin-form .col-md-4 {
        width: 50%;
        padding-bottom: 20px;
    }
    form.signin-form .col-md-3 {
        width: 35%;
        margin: 0 auto;
        clear: both;
    }
    .get-in-touch {
        text-align: center;
    }
    .detail-text p {
        padding-bottom: 20px;
    }
    .get-in-touch h2 {
        margin: 20px 0 20px 0;
    }
    .blue-arrow-bottom {
        padding-top: 0;
    }
    .what-is-oncotool {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
    }
    .contact-number {
        font-size: 24px;
    }
    .navbar-default .navbar-toggle {
        border-color: #00a7ce;
        background-color: #00a7ce;
        cursor: pointer;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #0994b5;
        border-color: #0994b5;
    }
    .breadcrumb-top ul li span {
        padding: 0px 4px 4px 8px;
        color: #bcc2c8;
        vertical-align: middle;
    }
    .breadcrumb-top ul li:first-child span {
        padding: 0px 4px 4px 0;
    }
    .btn-250,
    .btn-285,
    .btn-310,
    .btn-350 {
        width: 100%;
        display: block;
    }
    .learn-more-about {
        padding-bottom: 10px;
    }
    .get-in-touch {
        padding-top: 20px;
    }
    .what-is-oncotool {
        padding-top: 0;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 15px;
        line-height: 22px;
    }
    .welcome-text h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .heading {
        font-size: 30px;
        padding-bottom: 25px;
    }
    form.signin-form .col-md-4 {
        width: 100%;
        float: left;
        padding-right: 20px;
    }
    form.signin-form .col-md-3 {
        width: 100%;
    }
    .get-in-touch h2 {
        font-size: 28px;
    }
    /*.btn-250, .btn-310, .btn-285 {
        width: 100%;
        display: block;
    }*/
}


/** Media queries end */