<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Questionnaire"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <form [formGroup]="" autocomplete="off">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="c-pink p-b-20">Functional Well-Being</h4>
                    <p class="p-b-20">Below is a list of statements that other people with your illness have said are important</p>
                    <p class="f-bold p-b-30">For each statement, please select one number per line to indicate your response as it applies to the past 7 days</p>
                </div>
                <div class="col-xs-12">
                    <div class="questionnaire-tbl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="35%">&nbsp;</th>
                                    <th *ngFor="let header_data of header|qtopt;">{{ header_data.name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let core_question of core_question?.question">
                                    <td>{{ core_question?.question}}</td>
                                    <td *ngFor="let options_data of core_question.ques_options|qtopt;">
                                        <div class="m-option">{{ options_data.name }}</div>
                                        <span class="radio-container">
											<input type="radio" name="option[{{core_question.question_id}}]" value="{{ options_data.id }}" attr.data-question-id="{{core_question.question_id}}"
											 data-question-type="core" checked="{{ (core_question.answer['options_id'] == options_data.id) ? 'checked' : '' }}"
											/>
											<span></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr *ngFor="let extra_question of extra_question?.question">
                                    <td>{{ extra_question.question}}</td>
                                    <td *ngFor="let options_data of extra_question.ques_options|qtopt;">
                                        <div class="m-option">{{ options_data.name }}</div>
                                        <span class="radio-container">
											<input type="radio" name="option[{{extra_question.question_id}}]" value="{{ options_data.id }}" attr.data-question-id="{{extra_question.question_id}}"
											 checked="{{ (extra_question.answer['options_id'] == options_data.id) ? 'checked' : '' }}" data-question-type="extra"
											/>
											<span></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-violet btn-250" type="button" (click)="save()">Submit</button>
            </div>
        </form>

    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>