<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Questionnaire"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="c-pink p-b-20">Common Cancer-Related Symptoms and Concerns</h4>
                <p class="p-b-20">Below is a list of statements that other people with your illness have said are important</p>
                <p class="f-bold p-b-30">For each statement, please select one number per line to indicate your response as it applies to the past 7 days</p>
            </div>
            <div class="col-xs-12 symptoms" *ngFor="let group_info of proctcae_detail;let i = index">
                <p class="symptom-heading c-purple">{{group_info.question_group}}</p>
                <div class="symptom-questions" *ngFor="let question of group_info.question">
                    <p class="symptom-quest">In the last 7 days, {{ question.question }}</p>
                    <div class="symptom-options">
                        <label *ngFor="let options_data of question.ques_options|qtopt;">
							<strong>{{ options_data.name }}</strong>
							<span class="radio-container">
								<input type="radio" name="option[{{question.question_id}}]" value="{{ options_data.id }}" attr.data-question-id="{{question.question_id}}"
								 checked="{{ (question.answer['options_id'] == options_data.id) ? 'checked' : '' }}" />
								<span></span>
							</span>
						</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sumbit-section">
            <div class="col-xs-12 text-center">
                <div class="b-line"></div>
                <div class="div-top">
                    <span class="progress" [style.width.%]="symptom_percentage"></span>
                </div>
                <div *ngIf="total_question_groups!=proctcae_detail.length">
                    <div class="div-mid">You have completed
                        <strong>{{proctcae_detail.length}}</strong> out of
                        <strong>{{total_question_groups}}</strong> symptoms
                    </div>
                    <button class="btn btn-load-more btn-250" type="button" (click)="getQuestionnaire()">Load More</button>
                </div>
                <div *ngIf="total_question_groups==proctcae_detail.length">
                    <div class="div-mid">You have completed all
                        <strong>{{total_question_groups}}</strong> symptoms, click below to submit your answer
                    </div>
                    <button class="btn btn-violet btn-250 b-r-100" type="button" (click)="save()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>