<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="logo-img" routerLink="{{ isLoggedIn ? link?.dashboard : 'home' }}">
                <img class="logo-img" src="assets/images/logo.png" alt="Oncotool" />
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" [class.in]="!isCollapsed">
            <ul class="h9 nav navbar-nav navbar-right header">
                <li *ngIf="!isLoggedIn" (click)="isCollapsed = !isCollapsed" routerLinkActive="tab-active">
                    <a routerLink="/about-us">About</a>
                </li>
                <li *ngIf="isLoggedIn" (click)="isCollapsed = !isCollapsed" routerLinkActive="tab-active">
                    <a routerLink="resources">Resources</a>
                </li>
                <li (click)="isCollapsed = !isCollapsed" *ngIf="isLoggedIn" routerLinkActive="tab-active">
                    <a routerLink="{{ link.dashboard }}">Home</a>
                </li>
                <li *ngIf="role=='3' && isLoggedIn" routerLinkActive="tab-active" role="menuitem" (click)="isCollapsed = !isCollapsed">
                    <a class="dropdown-item" routerLink="patient/my-favorite">My Favorite</a>
                </li>
                <!-- <li (click)="isCollapsed = !isCollapsed" *ngIf="isLoggedIn" routerLinkActive="tab-active"><a href="#">My account</a></li> -->
                <li class="dropdown-li" dropdown container="body" *ngIf="isLoggedIn" [class.tab-active]="(this.maIsOpen || this.maClicked)" (isOpenChange)="toggleDropdown()">
                    <a dropdownToggle class="dropdownToggle" href="javascript:void(0)">My account</a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <!-- <li *ngIf="role=='3'" routerLinkActive="tab-active" role="menuitem" (click)="isCollapsed = !isCollapsed">
                            <a class="dropdown-item" routerLink="my-account/my-reports">My Reports
								<span class="badge">5</span>
							</a>
                        </li> -->

                        <li routerLinkActive="tab-active" role="menuitem" (click)="isCollapsed = !isCollapsed">
                            <a class="dropdown-item" routerLink="{{ link.profile }}">My Account Details</a>
                        </li>
                        <li routerLinkActive="tab-active" role="menuitem" (click)="isCollapsed = !isCollapsed">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
                <li routerLink="/home" (click)="isCollapsed = !isCollapsed" *ngIf="!isLoggedIn" routerLinkActive="tab-active">
                    <a href="javascript:void(0)" (click)="scroll('sign_in')">Login</a>
                </li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>