<!-- start container-fluid -->
<div class="welcome-bg">
    <!-- start container-->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-md-12 col-sm-12 welcome-text">
                <h1>Welcome to OncoTool</h1>
            </div>
            <div class="col-md-12 col-sm-12 signin-bg" id="sign_in">
                <div class="h3 text-center">Sign into your account</div>
                <form class="signin-form" [formGroup]="loginForm" (ngSubmit)="signIn()" autocomplete="off">
                    <div class="form-group col-md-4 col-sm-4">
                        <input formControlName="username" id="username" type="text" class="form-control input-lg" placeholder="Email address" />
                        <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">This field is required.</p>
                    </div>
                    <div class="form-group col-md-4 col-sm-4">
                        <input id="password" formControlName="password" type="password" class="form-control input-lg" placeholder="Password" />
                        <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">This field is required.</p>
                        <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 btn-signin-block">
                        <button class="btn btn-violet btn-block" [disabled]="">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 what-is-oncotool">
                <div class="h3">
                    <strong> What is OncoTool? </strong>
                </div>
                <a href="javascript:void(0)" (click)="scroll(what_is_oncotool)">
                    <img src="assets/images/white_arrow_bottom.png" alt="Blue Arrow" />
                </a>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end container-fluid -->

<!-- start What is oncotool -->
<div class="container" #what_is_oncotool>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="heading">What is OncoTool?</h1>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img-responsive">
                <img class="img-responsive img-center" src="assets/images/tailored_to_you.jpg" alt="Image" />
            </div>
            <div class="detail-text">
                <div class="h3">Tailored to You</div>
                <p>OncoTool is an interactive website designed for people with advanced or metastatic cancer who are considering genomic tumor testing. Inside you will find information, videos, and resources, all of which were carefully chosen with you in
                    mind.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img-responsive">
                <img class="img-responsive img-center" src="assets/images/based_on_research.jpg" alt="Image" />
            </div>
            <div class="detail-text">
                <div class="h3">Based on Research</div>
                <p>All of the material in OncoTool is based on decades of research in cancer and cancer treatment. We sorted through the research, collected relevant and helpful information based on feedback from patients and oncology providers, and organized
                    it all in one place.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img-responsive">
                <img class="img-responsive img-center" src="assets/images/benefits_of_participating.jpg" alt="Image" />
            </div>
            <div class="detail-text">
                <div class="h3">Benefits of Participating</div>
                <p>You will have access to all of the information, videos, and resources included in OncoTool. We hope OncoTool will help you understand genomic tumor testing, cancer treatments and possible side effects, and help you manage side effects
                    and stress during this time.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 blue-arrow-bottom">
            <div class="h3">
                <strong>What can i do on OncoTool?</strong>
            </div>
            <a href="javascript:void(0)" (click)="scroll(get_in_touch)">
                <img src="assets/images/pink_arrow_bottom.png" alt="Image" />
            </a>
        </div>

    </div>
</div>
<!-- start what is oncotool -->
<!-- start learn more about oncotool -->
<div class="learn-more-about" #get_in_touch>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <img class="img-responsive img-center" src="assets/images/big_arrow_bottom.png" alt="Image" />
            </div>
            <div class="col-md-12 col-sm-12">
                <h1 class="heading">Learn More About OncoTool</h1>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" [streetViewControl]="true" [styles]="styleArray">
                    <agm-marker iconUrl="assets/images/map_marker.png" [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
            <div class="col-md-6 col-sm-6 get-in-touch">
                <h2 class="c-d-pink">Get in Touch<br/> with Us</h2>
                <p>Northwestern University
                    <br />Feinberg School of Medicine
                    <br />633 North Saint Clair,
                    <br />19th Floor
                    <br />Chicago, IL 60611
                </p>
                <p><strong>Telephone:</strong> 312-503-3609
                    <br /> <strong>Email:</strong>
                    <a class="link" href="mailto:Oncotool@northwestern.edu"> hello@oncotool.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end learn more about oncotool -->