
<div class="inner-content p-b-50">
    <app-inner-page-header>My Favorites</app-inner-page-header>
    <div class="container">
        <div class="row p-t-20">
        	<div class="col-md-8">
        		<accordion class="main-accordion panel-group" [closeOthers]="true">
                    <accordion-group #res1>
                        <div accordion-heading class="row clearfix gaes-cls" data-ga-action="Expand topic" data-ga-title="Understanding Breast Cancer">
                            <span class="col-xs-1 icon-left"><img src="assets/images/understanding_breast_cancer.png" alt="Breast Cancer" width="40px;"/></span>
                            <span class="col-xs-9 h6 c-gray">Understanding Breast Cancer</span>
                            <span class="col-xs-2 text-right h6 icon-right">
								<i [ngClass]="res1?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="section-list">
                                        <li>What is breast cancer?</li>
                                        <li>What does NOT cause breast cancer?</li>
                                        <li>Who treats breast cancer?</li>
                                        <li>Screening for breast cancer</li>
                                        <li>Screening for skin cancer</li>
                                    </ul>
                                </div>
                            </div>       
                        </div>
                    </accordion-group>
                    <accordion-group #res2>
                        <div accordion-heading class="row clearfix gaes-cls" data-ga-action="Expand topic" data-ga-title="Understanding Breast Cancer">
                            <span class="col-xs-1 icon-left"><img src="assets/images/eat_well_fell_well.png" alt="Breast Cancer" width="40px;"/></span>
                            <span class="col-xs-9 h6 c-gray">Eat Well, Feel Well</span>
                            <span class="col-xs-2 text-right h6 icon-right">
                                <i [ngClass]="res2?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
                            </span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="section-list">
                                        <li>What is breast cancer?</li>
                                        <li>What does NOT cause breast cancer?</li>
                                    </ul>
                                </div>
                            </div>       
                        </div>
                    </accordion-group>
                    <accordion-group #res3>
                        <div accordion-heading class="row clearfix gaes-cls" data-ga-action="Expand topic" data-ga-title="Understanding Breast Cancer">
                            <span class="col-xs-1 icon-left"><img src="assets/images/healthy_mind.png" alt="Breast Cancer" width="40px;"/></span>
                            <span class="col-xs-9 h6 c-gray">Healthy Mind</span>
                            <span class="col-xs-2 text-right h6 icon-right">
                                <i [ngClass]="res3?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
                            </span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="section-list">
                                        <li>What is breast cancer?</li>
                                    </ul>
                                </div>
                            </div>       
                        </div>
                    </accordion-group>
                </accordion>    
        	</div>
        </div>

    </div>
</div>        