<div class="inner-content p-b-50">
    <app-inner-page-header page_title="My Favorites"></app-inner-page-header>
    <div class="container">
        <div class="row p-t-40">
            <div class="col-md-8">
                <accordion class="main-accordion panel-group" [closeOthers]="true">
                    <accordion-group #res1 *ngFor="let chapter of chapters">
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-1 icon-left"><img src="{{ chapter?.icon_class }}" alt="Breast Cancer" width="40px;"/></span>
                            <span class="col-xs-9 h6 c-gray">{{ chapter.content_name }}</span>
                            <span class="col-xs-2 text-right h6 icon-right">
								<i [ngClass]="res1?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="section-list" *ngFor="let topic of chapter.sub_topic">
                                        <li class="c-pointer" [routerLink]="'/patient/dashboard/'+chapter.slug+'/'+topic.slug">{{ topic?.content_name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <ul class="section-list" *ngIf="!chapters.length">
                    <li>No favorite added</li>
                </ul>
            </div>
        </div>

    </div>
</div>