.inner-content {
    padding-top: 25px;
}

.forgot-form {
    padding-top: 40px;
    float: left;
    width: 100%;
}

.forgot-form label {
    font-size: 18px;
    padding-bottom: 10px;
    color: #4f5359;
    float: left;
    width: 100%;
}

.forgot-form input {
    border-radius: 2px;
    height: 50px;
    font-size: 18px;
}

.password-hint {
    width: 100%;
    float: left;
}

.password-hint ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.password-hint ul li {
    line-height: 25px;
}

.password-hint ul li i {
    padding-right: 10px;
    display: inline-block;
    float: left;
    line-height: 23px;
}

.password-hint ul li span {
    display: flex;
}

.password-hint ul li .glyphicon-ok {
    color: #3cbe78;
}

.password-hint ul li .glyphicon-remove {
    color: #f13f4d;
}

.p-t-60 {
    padding-top: 60px;
}
.rem-check {
    height: auto;
    margin-top: -2px;
    zoom: 1.5;
    vertical-align: middle;
    color: #fff;
    height: 15px !important;
}

.check-box{
    padding-top: 15px !important;
}

.check-box, span{
    color: ##005971;
    font-size: 15px;
    line-height: 22px;
    padding-top: 4px;
    font-weight: bold;
}

.check-box span{
    margin-left: 10px;
}
