<div class="inner-content p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="assets/images/logo.png">
            </div>
            <div class="col-xs-12" *ngIf="!is_success">

                <form [formGroup]="form" autocomplete="off" class="forgot-form" (ngSubmit)="save()">

                    <div class="form-group col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="text-center p-b-20">
                            <h5 class="c-pink p-b-10">Please enter your new password.</h5>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" formControlName="password" id="password" type="password" [class.invalid]="!form.controls.password.valid && (form.controls.password.dirty)" (keyup)="checkPassword($event.target.value)">
                            <p class="error m-0-auto" col-12 *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password field is required.</p>
                            <div class="password-hint">
                                <ul>
                                    <li>
                                        <i
                                            [class]="(is_password_valid.is_length) ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></i>
                                        <span>8 characters or more</span>
                                    </li>
                                    <li>
                                        <i
                                            [class]="(is_password_valid.is_space) ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></i>
                                        <span>no spaces</span>
                                    </li>
                                    <li>
                                        <i
                                            [class]="is_password_valid.is_number ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></i>
                                        <span>at least 1 number</span>
                                    </li>
                                    <li>
                                        <i
                                            [class]="is_password_valid.is_capital ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></i>
                                        <span>at least 1 uppercase letter</span>
                                    </li>
                                    <li>
                                        <i
                                            [class]="is_password_valid.is_symbol ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></i>
                                        <span>at least 1 symbol ({{allowed_symbol}})</span>
                                    </li>
                                    <li>
                                        <i
                                            [class]="(is_password_valid.is_small) ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></i>
                                        <span>at least 1 lowercase letter</span>
                                    </li>
                                </ul>
                                <p>For added security, easily guessed passwords (i.e. “password” or “football”), keyboard patterns (i.e. “qwertyui of ”abcdefgh”) and sequential patterns (i.e. “abcd1234” or “12345678”) have been blocked. </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm password</label>
                            <input class="form-control" formControlName="confirm_password" id="confirm_password" type="password" [class.invalid]="!form.controls.confirm_password.valid && (form.controls.confirm_password.dirty)">
                            <p class="error m-0-auto" col-12 *ngIf="form.controls['confirm_password'].hasError('required') && form.controls['confirm_password'].dirty">Confirm password field is required.</p>
                            <p class="error m-0-auto" col-12 *ngIf="form.controls.confirm_password.touched && form.hasError('match_password')">
                                Confirm password does not match.
                            </p>
                        </div>
                        <div class="text-center p-t-20 p-b-20">
                            <!-- [disabled]="!form.valid" -->
                            <button type="submit" class="btn btn-violet btn-250">Set new password</button>
                        </div>
                        <div class="text-center">
                            <a routerLink="/home">Back to sign in</a>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-xs-12" *ngIf="is_success">
                <div class="form-group col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="text-center p-t-60">
                        <h5 class="c-pink p-b-10">Your Password was successfully changed.</h5>
                        <p>You can now log in with your new password</p>
                    </div>
                    <div class="text-center p-t-20 p-b-20">
                        <a type="button" routerLink="/home" class="btn btn-violet btn-250 ">Log in </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>