<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Questionnaire"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="c-pink p-b-20">Health-Related Quality of Life</h4>
                <p class="p-b-20">Please answer the following questions as they pertain to you or how you have felt in the last 7 days.</p>
                <p>Additionally, please select "next" when you are ready to move on to the following question and "back" if you would like or change a previous answer.</p>
            </div>
            <div class="col-xs-12 text-right">
                <div class="b-line"></div>
                <button class="btn btn-310 btn-violet" (click)="begin_questionnaire()">Begin Questionnaire</button>
            </div>

        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>
<div class="modal fade blue-modal" bsModal tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">
                <div class="row p-b-50">
                    <div class="col-md-12">
                        <h4 class="pop-heading">{{ questions?.title }} </h4>
                    </div>

                    <div class="col-xs-12 p-b-20 p-t-20"> {{ questions?.description }}</div>
                    <div class="col-xs-12">
                        <div class="symptom-options lbl-text-right">
                            <label *ngFor="let options_data of questions?.option; let i=index">
								<strong>{{ options_data.Description }}</strong>
								<span class="radio-container">
									<input type="radio" [attr.data-elementid]="options_data.ElementOID" name="{{ questions?.title }}" value="{{ options_data.Value }}"
									 [attr.data-index]="i" [checked]="answer.ItemResponseOID==options_data.ItemResponseOID" />
									<span></span>
								</span>
							</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="b-line"></div>
                        <!-- *ngIf="count"  -->
                        <button *ngIf="is_back" class="btn btn-250 btn-gray pull-left m-b-10" (click)="back()">Back</button>
                        <button class="btn btn-250 btn-violet pull-right" (click)="next()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-questionnaire-with-concern [toggle]="isShown"></app-questionnaire-with-concern>