<div class="modal fade blue-modal" bsModal #childModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">
                <div class="row p-b-50 text-center">
                    <div class="col-md-12">
                        <h4 class="c-pink pop-heading">Thank you</h4>
                    </div>

                    <div class="col-xs-12">
                        <div *ngIf="common_symptoms!=''">
                            <p class="p-b-20">Thank you for your responses. Based on your responses, it seems as though you are concerned about the following symptoms:</p>
                            <h6 class="c-pink p-b-20">{{common_symptoms}}</h6>
                            <p class="p-b-20">It is common for patients to have medical concerns and our goal is to help you to manage these concerns. We will share your response(s) with your medical team.</p>
                        </div>
                        <p class="p-b-20" *ngIf="common_symptoms==''">Thank you for your responses. It does not seem as though you have any major medical concerns this week. If that is not correct, please reach out to your medical team.</p>

                        <div class="b-line"></div>
                        <p class="p-b-20">
                            <a class="btn btn-310 btn-violet" routerLink="/patient/dashboard/report">View your report</a>
                        </p>

                        <p class="p-b-20">Or return to the
                            <a class="c-pink" routerLink="/patient/dashboard">dashboard</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>