<div class="inner-content p-b-50">
    <app-inner-page-header page_title="FAQ"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <accordion class="main-accordion panel-group" [closeOthers]="true">
                    <accordion-group #res1>
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-10 h6">What is My Journey?</span>
                            <span class="col-xs-2 text-right h6">
								<i [ngClass]="res1?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row section">
                                <div class="col-xs-12">
                                    <p class="content-p">My Journey is a research study for breast cancer survivors. As part of the My Journey study, we have developed this website for women to use after they have undergone treatment for their breast cancer. We want to make
                                        sure patients have accurate and helpful information as they enter the survivorship phase.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group #res2>
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-10 h6">What is the purpose of My Journey?</span>
                            <span class="col-xs-2 text-right h6">
								<i [ngClass]="res2?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row section">
                                <div class="col-xs-12">
                                    <p class="content-p">Through My Journey, we would like to learn more about the effects of endocrine therapy treatment on women diagnosed with breast cancer. Additionally, My Journey provides women with information about cancer treatments,
                                        symptom management, and tools to enhance coping and quality of life.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group #res3>
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-10 h6">How can the My Journey study help me?</span>
                            <span class="col-xs-2 text-right h6">
								<i [ngClass]="res3?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row section">
                                <div class="col-xs-12">
                                    <p class="content-p">By participating in this study, you will have access to all of the information included in the My Journey website. Many of the resources in My Journey may be relevant to your breast cancer diagnosis.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group #res4>
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-10 h6">Who has access to My Journey?</span>
                            <span class="col-xs-2 text-right h6">
								<i [ngClass]="res4?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row section">
                                <div class="col-xs-12">
                                    <p class="content-p">Only eligible participants who have enrolled in the My Journey study will have access to securely login to this website.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group #res5>
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-10 h6">How many people will enroll in My Journey?</span>
                            <span class="col-xs-2 text-right h6">
								<i [ngClass]="res5?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row section">
                                <div class="col-xs-12">
                                    <p class="content-p">We expect about 80 people to enroll in My Journey.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group #res6>
                        <div accordion-heading class="row clearfix">
                            <span class="col-xs-10 h6">How long will the research last?</span>
                            <span class="col-xs-2 text-right h6">
								<i [ngClass]="res6?.isOpen ? 'onco-minus' : 'onco-plus'" class="more-less"></i>
							</span>
                        </div>
                        <div class="accordion-inner">
                            <div class="row section">
                                <div class="col-xs-12">
                                    <p class="content-p">If you enroll in the My Journey study, you will be asked to use the My Journey website for 8 weeks.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                </accordion>
            </div>
            <!-- End content-left -->
        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>
