<div class="inner-content p-b-50 primary-bg">
    <div class="container-fluid" style="color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="p-b-30">404</h1>
                        <h4>Sorry but we couldn't find this page</h4>
                        <p>This page you are looking for, does not exist. Please click
                            <a href="/" style="color:#fff;text-decoration:underline">here</a> to go on home page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>