.radio-container .lbl-inline {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    height: 20px;
    line-height: 30px;
}

.radio-container+.radio-container {
    margin-left: 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#genomic_report {
    width: calc(100% - 274px)
}

.close-container {
    position: relative;
    margin-top: 10px;
    float: left;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 10px 15px 10px 10px
}

.close-container .btn-remove-item {
    position: absolute;
    cursor: pointer;
    right: -5px;
    top: -5px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #e6edf0;
    border: 1px solid #d6e1e5;
}


@media (max-width: 767px) {
    #genomic_report[_ngcontent-c3] {
        width: calc(100%);
    }
}