<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Terms & Conditions"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 p-b-20">
                <p class="p-b-10">Information in the OncoTool website is provided for informational purposes only and is not intended as a substitute for the advice provided by your healthcare providers. The OncoTool platform is not intended to be used for diagnosing or
                    treating a health problem or disease. This is a HIPAA compliant website.</p>
                <p>Please note that the use of this program does not replace your standard of care by a physician. If you have an urgent medical or mental health issue, call 911 or go to the nearest emergency department.</p>
                <p>Additionally, if you are using this website you are agreeing to participate in a research study. The use of OncoTool is completely voluntary.</p>
            </div>
        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>