<div class="inner-content p-b-50">
    <app-inner-page-header page_title="Questionnaire"></app-inner-page-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="c-pink p-b-20">What is Your Decision-Making Style?</h4>
                <p class="p-b-20">Please choose the card that best reflects your preferred role in treatment decision making with your doctor. Then, choose your next preferred role from the remaining options. Click submit to learn what these choices say about your preferences
                    for health-related decision making and tips for communicating this to your doctor.</p>
            </div>
            <div class="col-xs-12 decision-abcde">
                <ul>
                    <li *ngFor="let question of questions;let index=index" (click)="changeSelection(question.label,index,question.question_id)" [class.active]="selectedResponse==question.label" [class.disabled]="selectedResponse!='' && selectedResponse!=question.label" class="cps-li"
                        id="cps-{{question.label}}">
                        <div class="col-md-2 col-sm-2 col-xs-12 tbl-cell">
                            <p class="first option-character" [attr.data-option_id]="question.label" [attr.data-option_value]="question.label">{{ question.label }}</p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 tbl-cell">
                            <img class="img-responsive img-center" width="100%" src="{{ question.image_url }}" alt="Decision Making {{question.label}}" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 tbl-cell">
                            <p class="last">{{ question.question}}</p>
                        </div>
                        <input type="hidden" name="options[]" value="{{ question.label }}" [attr.data-question_id]="question.question_id">
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 my-results-btn text-right">
                <div class="b-line"></div>
                <a *ngIf="selectedResponse!=''" class="reset-cps" href="javascript:void(0)" (click)="resetSelection()">
                    <strong>Reset</strong>
                </a>
                <button class="btn btn-310" (click)="save()" [class.btn-violet]="selectedResponse!=''" [class.btn-disabled]="selectedResponse==''" [attr.disabled]="selectedResponse==''?'':null">Submit</button>
            </div>
        </div>
    </div>
</div>
<app-breadcrumb [breadcrumb]="breadcrumb" isFooter="!1"></app-breadcrumb>
<div class="modal blue-modal fade" bsModal tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-b-20">
                        <h2 class="pop-heading">{{cps_result.style}}</h2>
                    </div>
                    <div class="col-xs-12 cps" [innerHTML]="cps_result.description"></div>
                </div>
                <div class="b-line"></div>
                <p class="p-t-20 p-b-20 text-center">
                    <a class="btn btn-310 btn-violet" (click)="modal.hide()">Close window</a>
                </p>

                <p class="p-b-20 text-center">Or return to the
                    <a class="c-pink " routerLink="/patient/dashboard">dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>