<div class="inner-content p-b-50">
    <app-inner-page-header page_title="My Achievements & Events"></app-inner-page-header>

    <div class="container">
        <div class="row m-t-40">
            <div class="col-md-12">
                <h6>This page has a list of all your events and achievements during the 8 weeks of the study. There are 3 achievement levels you can receive:</h6>
                <p class="m-t-20 m-award"><strong> 1 - Ribbon: 30 minutes of activity</strong></p>
                <p class="m-t-20 m-award"><strong> 2 - Medal: 30 minutes of activity & 2 exercises completed</strong></p>
                <p class="m-t-20 m-award"><strong> 3 - Trophy: 30 minutes of activity & 5 exercises completed</strong></p>
            </div>
        </div>
        <div class="row m-t-15">
            <ng-container *ngFor="let week of weekInfo; let i=index">
                <div class="row week-list" [ngClass]="(week?.week_number >= i+1 && week?.total_time_spent_in_week >= 30) ? '' : 'disabled'">
                    <div class="col-xs-12 pl-pr-0">
                        <div class="week">
                            <span *ngIf="currentWeek != i+1">Week {{ i+1 }}</span>
                            <span *ngIf="currentWeek == i+1"><b>Week {{ i+1 }} (current week)</b></span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 pl-pr-0">
                        <p class="list-heading enabled"><strong>My Achievements</strong></p>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-3 icon text-center">
                                <i class="onco-events c-d-blue" [ngClass]="(week?.week_number >= i+1 && week?.total_time_spent_in_week >= 30) ? '' : 'disabled'"></i>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-3 icon text-center">
                                <i class="onco-achievements c-pink" [ngClass]="(week?.week_number >= i+1 && week?.total_time_spent_in_week >= 30 && week?.total_watched_video_audio >= 1) ? '' : 'disabled'"></i>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-3 icon text-center">
                                <i class="onco-award c-orange" [ngClass]="(week?.week_number >= i+1 && week?.total_time_spent_in_week >= 30 && week?.total_watched_video_audio >= 3) ? '' : 'disabled'"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 pl-pr-0 enabled">
                        <p class="list-heading"><strong>My Events</strong></p>
                        <div class="col-xs-12">
                            <p [innerHTML]="getWeekEvent(week?.event)"></p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>